.container {
    width:50%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}



.tile {
    width:23%;
    padding:5%;
}

.right {
    border-right: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}

h1 {
    font-family: 'Lobster Two', cursive;
    font-size:62px;
    color:#9B59B6;
}

div {
    font-family: 'Lobster Two', cursive;
    font-size: 36px;
}

body {
    background-color:#76D7C4;
}